{% extends "MasterPage.html" %}

{% block content %}
<div class="container py-4">
  <div class="row">
    <div class="col-md-5">
      <h2>Gestion de Docente</h2>
      <div class="card">
        <div class="card-body">
          <form id="formularioDocente" action="/registrarDocente/" method="POST"> 
            {% csrf_token %}
            {# Primera linea, input, tipo de texto, tipo de variable para views, tipo de variable javascript tipo de clase y placeholder #}
            {# Segunda linea, para validacion de campos #}
            <div class="form-group">
            <input type="text" id="txtNombres" name="txtNombres" class="form-control" placeholder="Nombres"
                minlenght = "3" maxlength="30" autofocus required/>
            </div>
            <br>
            <div class="form-group">
              <input type="text" id="txtAPPA" name="txtAPPA" class="form-control" placeholder="Apellido Paterno"
                minlenght = "3" maxlength="30" autofocus required/>
            </div>
            <br>
            <div class="form-group">
              <input type="text" id="txtAPMA" name="txtAPMA"   class="form-control" placeholder="Apellido Materno"
                minlenght = "3" maxlength="30" autofocus required/>
            </div>
            <br>
            <div class="form-group">
              <input type="date" id="txtFECH" name="txtFECH"  class="form-control" min="1920-01-01" max="2004-01-01" required/>
            </div>
            <br>
            <div class="form-group">
              <!-- 
              <input type="text" id="txtGEN" name="txtGEN"  class="form-control" placeholder="Genero" pattern="[M|F|O]"
                minlenght = "1" maxlength="1" title="Genero solo puede ser M (para Masculino), F (para Femenino) y O (para otro)" autofocus required/>
              -->
              <select type="text" id="txtGEN" name="txtGEN" class="form-control" autofocus required>
                <option>M</option>
                <option>F</option>
                <option>O</option>
              </select>
            </div>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-success text-white"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-3 ml-auto ">
      <h2>Gestion de Curso</h2>
      <div class="card">
        <div class="card-body">
          <form id="formularioCurso" action="/registrarCurso/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {# Primera linea, input, tipo de texto, tipo de variable para views, tipo de variable javascript tipo de clase y placeholder #}
              {# Segunda linea, para validacion de campos #}
              <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                minlenght = "3" maxlength="30" autofocus required/>
              <br>
            </div>
            <div class="form-group">
              <input type="number" name="numCreditos" id="numCreditos" class="form-control" 
              min="1" max="10" value="1" required/>
              <br>
            </div>
            <div class="form-group">
              <select type="number" id="numDocente" name="numDocente" class="form-control" autofocus required>
                {% for d in object_list %}
                <option label="{{d}}">{{d.id}}</option>
                {% endfor %}
              </select>
              <br>
              <button type="submit" class="btn btn-success btn-block text-white"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div> 
          
{% endblock %}


