{% extends "MasterPage.html" %}

{% block content %}
<section class="container bg-light">
    <div class="container bg-light"class="container bg-light">
        <div class="col-md-12 text-center">
            <h1>Gestión de cursos de una carrera en particular - Tutorial de Django</h1>
            <p>Con los siguientes botones puedes ver la lista de curso asi como tambien crear mas cursos y docentes que los impartan</p>
            <td><a href="ListadoCursos/"class="button button1"> Listas </a></td>
            <td><a href="CrearCurso/"class="button button2"> Crear </a></td>
        </div>
    </div>
</section class="container bg-light">
{% endblock %}